html {
  font-size: 10px;
  background: url(fondo.jpg) bottom center;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.key {
  border: .4rem solid rgb(123, 59, 243);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all 0.7s ease;
  width: 10rem;
  text-align: center;
  color: rgb(44, 7, 75);
  background: rgba(226, 192, 192, 0.4);
  text-shadow: 0 0 .5rem rgb(55, 57, 119);
}

.playing {
  transform: scale(1.5);
  border-color: #6c56e4;
  box-shadow: 0 0 1rem #7f80d1;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: #000000;
}
